/*.pdb
/*.ilk
/*.db
/Project/Lib/Debug/Win32/IDV_Parser.pdb
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDVParser.obj
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.Build.CppClean.log
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.idb
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.log
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.pdb
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/CL.command.1.tlog
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/CL.read.1.tlog
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/CL.write.1.tlog
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/IDV_Parser.lastbuildstate
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/Lib-link.read.1.tlog
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/Lib-link.write.1.tlog
/Project/Lib/VStuff/IDV_Parser/Debug/Win32/IDV_Parser.tlog/lib.command.1.tlog
/Project/Bin/IDV_App.ilk
/Project/Bin/IDV_App.pdb
/Project/IDV_Gfx.VC.db
/Project/Lib/VStuff
/Project/.vs
